include _helpers

+section('Cards','cards')(class="is-active")
    +side-box-block
        each object in cardData
            +card(object)

+section('Navs','navs')
    +side-box-block
        +nav.is-inline
            +list-link.is-active Active
            +list-link Item
            +list-link Item
            +list-link.is-disabled Disabled
    +side-box-block
        +nav
            +list-link.is-active Active
            +list-link Item
            +list-divider
            +list-link Item
            +list-link.is-disabled Disabled
    +side-box-block
        +nav('tabs')
            +list-link.is-active Active
            +list-link Item
            +list-link Item
            +list-link.is-disabled Disabled


+section('Panels','panels')
    +side-box-block
        +loop('panels')
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis voluptate distinctio reprehenderit, autem deleniti ad <a href="#0">voluptatum eaque</a>.

+section('Media Objects','mediaobj')
    +side-box-block
        each object in mediaData
            +media-object(object,'yes')