include _helpers
doctype html
html
  head
    +meta-default

    title= title
    link(href='//fonts.googleapis.com/css?family=Ubuntu:300,500,700|Merriweather', rel='stylesheet', type='text/css')
    link(rel='shortcut icon', href='img/favicon.png')
    link(rel='stylesheet', href='css/averil.css')
    link(rel='stylesheet', href='css/style-guide.css')
  body