include _helpers

//- Index.jade
include _default
  header

  .cover.is-primary
    .ui-nav.is-fixed
      .container
        +navbar('no-toggle').is-centered
          +navbar-item.can-collapse.is-left.has-two
            +nav()
              +list-link('#setup') Getting Started
              +list-link('#elements') Elements
              +list-link('#components') Components
          +navbar-item.is-brand
            a(href='#home') Averil
          +navbar-item.is-right.has-two
            +nav()
              a.button.is-outlined(href='#home') Github
              a.button.is-outlined(href='#home') Twitter

    .cover-content
      .container
        h1.title
          | Averil
        h2.subtitle
          | A Minimal CSS Framework

  main.container
    +div(id='setup')
      h1
        a.hash-link#setup2 #
        | Getting Started

    +div(id='elements')
      //- include _section_colors
      h1
        a.hash-link#elements2 #
        | Elements
      include _sections

    +div(id='components')
      h1
        a.hash-link#components2 #
        | Components
      include _components
      include _blocks

  - //script(src='js/app.js')