.nav {
    ul{
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        margin:0;
        @include clearfix();

        &>li {
            position: relative;
            display: block;
            &>a {
                position: relative;
                display: block;
                color: $gray;
                padding: rem(10) rem(16);
                &:hover{
                    color:$color-primary;
                }
            }
        }   
    }

    &.is-inline{
        ul{
            &>li {
                display: inline-block;
            }
        }
    }
}


.tabs {
    line-height: 24px;
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
    ul{
        margin:0;
    }
    a {
        border-bottom: 1px solid transparent;
        color: $gray;
        display: block;
        margin-bottom: -1px;
        padding: rem(6) rem(12);
        vertical-align: top;
        &:hover {
            border-bottom-color: $color_primary;
            color: $color_primary;
        }
    }
    li {
        display: block;
        vertical-align: top;
        &.is-active a {
            border-bottom-color: $color_primary;
            color: $color_primary;
        }
    }
    ul {
        border-bottom: 1px solid $gray-lighter;
        display: flex;
    }
    &.is-centered {
        a {
            padding: rem(6) rem(12);
        }
        ul {
            justify-content: center;
            text-align: center;
        }
        li + li {
            margin-left: 0;
        }
    }
    &.is-boxed {
        a {
            border: 1px solid transparent;
            border-radius: 3px 3px 0 0;
            padding: rem(6) rem(12);
            &:hover {
                background: $gray-light;
                border-bottom-color: $gray-light;
            }
        }
        li {
            &.is-active a {
                background: $color-light;
                border-color: $gray-light;
                border-bottom-color: transparent;
            }
        }
        &.is-centered li {
            margin: 0 2px;
        }
    }
    &.is-toggle {
        a {
            border: 1px solid $gray-light;
            margin-bottom: 0;
            padding: rem(6) rem(12);
            position: relative;
            &:hover {
                background: $color-primary;
                border-color: $color-primary;
                z-index: 2;
            }
        }
        li {
            + li {
                margin-left: -1px;
            }
            &:first-child a {
                border-radius: 3px 0 0 3px;
            }
            &:last-child a {
                border-radius: 0 3px 3px 0;
            }
            &.is-active a {
                background: $gray-light;
                border-color: $gray-light;
                color: $color-light;
                z-index: 1;
            }
        }
        ul {
            border-bottom: none;
        }
    }
    &:not(:last-child) {
        margin-bottom: 20px;
    }
    &.is-right ul {
        justify-content: flex-end;
    }
}
@include MQ(tablet) {
    .tabs.is-fullwidth {
        li {
            flex: 1;
            + li {
                margin-left: 0;
            }
        }
        ul {
            justify-content: center;
            text-align: center;
        }
    }
}


.tab {
    padding: rem(15);
    margin: rem(-20) 0 rem(20);
    display: none;
    &.is-active {
        display: block;
    }
}


