.panel {
    background: #fff;
    padding: 0;
    border: 1px solid $gray-lighter;
    box-shadow: 0 2px 3px rgba(black, 0.1);
    margin-bottom:15px;
    header{
		background: $gray-lighter;
		padding:rem(15) rem(20);
		font-weight:400;
    }
    &-content{
    	padding:rem(15) rem(20);
    	&.no-padding{
    		padding:0;
    	}
    }

    @each $name, $pair in $colors
	{
		$color: nth($pair,1);
		$color-invert: nth($pair,2);

		@if ($name != "default") {
		  &.is-#{$name}
		  {
		  	border: 1px solid $color;
		  	color:$color;
		  	header{
				background: $color;
				color:$color-invert;
			}
			a{
				color:$color;
				font-weight:400;
				text-decoration:underline;
			}
		  }
		}
	}
}
.panels{
	.panel{
		header{
			padding:0;
			a{
				padding:rem(15) rem(20);
				display:block;
			}
		}
		&-content {
		    height: 0;
		    opacity:0;
		    overflow: hidden;
		    padding:0 rem(20);
		    transition:0.1s all linear;
		    &.is-expanded {
			    height: 100%;
			    opacity:1;
			    padding:rem(15) rem(20);
			    overflow: visible;
			    transition:0.1s all linear;
			}
		}
		
	}

}