*, *::after, *::before {
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent; }

body {
  margin: 0;
  font-family: sans-serif;
  font-size: 1.6em;
  font-weight: 300;
  letter-spacing: .01em;
  line-height: 1.6;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

iframe {
  border: 0; }

main {
  display: block; }

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0; }

li {
  display: block; }

dl {
  margin-top: 0;
  margin-bottom: 0; }

dd {
  margin-left: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: inherit; }

blockquote {
  margin: 0;
  padding: 0; }

p {
  margin-top: 0;
  margin-bottom: 0; }

sup {
  position: relative;
  top: -.5em;
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0; }

strong {
  font-weight: bold; }

figure {
  margin: 0; }

img {
  border: 0;
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

a {
  text-decoration: none;
  color: inherit; }

button {
  border: 0;
  margin: 0;
  padding: 0;
  text-align: inherit;
  text-transform: inherit;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer;
  overflow: visible; }

::-moz-focus-inner {
  border: 0;
  padding: 0; }

:focus {
  outline: 0; }

svg:not(:root) {
  overflow: hidden; }

hr {
  box-sizing: content-box;
  height: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

hr {
  margin: 2.33em 0;
  background: #ddd;
  border: none;
  height: 1px; }

ol {
  list-style: decimal outside;
  margin: 1em 2em; }

ul {
  list-style: disc outside;
  margin: 1em 2em; }

ol > li, ul > li {
  display: list-item; }

.is-left {
  text-align: left; }

.is-centered {
  text-align: center; }

.is-right {
  text-align: right; }

.is-justified {
  text-align: justify; }

.is-uppercase {
  text-transform: uppercase; }

.is-lowercase {
  text-transform: lowercase; }

[disabled],
.is-disabled {
  cursor: disabled; }

.is-default {
  color: #222; }

.is-dark {
  color: #222; }

.is-primary {
  color: #29A6E2; }

.is-success {
  color: #15CA8F; }

.is-warning {
  color: #f0ad4e; }

.is-danger {
  color: #E02B5D; }

.is-muted {
  color: #9c9c9c; }

.is-fixed {
  position: fixed; }

.is-fixed + .container {
  margin-top: 80px; }

@-webkit-keyframes spin-around {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

@keyframes spin-around {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

.loader,
.is-loading {
  position: relative;
  color: transparent !important;
  pointer-events: none; }
  .loader:after,
  .is-loading:after {
    -webkit-animation: spin-around 600ms infinite linear;
    animation: spin-around 600ms infinite linear;
    border: 1px solid #9c9c9c;
    border-width: 2px 0 2px 2px;
    border-color: transparent transparent #9c9c9c #9c9c9c;
    border-radius: 100%;
    content: "";
    display: block;
    height: 2rem;
    width: 2rem;
    left: 50%;
    top: 50%;
    margin-left: -8px;
    margin-top: -9px;
    position: absolute; }

body {
  color: #222; }

a {
  color: #29A6E2;
  text-decoration: none; }
  a:hover {
    color: #1c94ce; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin-bottom: 2.0rem;
  margin-top: 0; }

h1 {
  font-size: 4.8rem;
  letter-spacing: -.1rem;
  line-height: 1.2;
  margin: 0.67em 0; }

h2 {
  font-size: 3.6rem;
  letter-spacing: -.1rem;
  line-height: 1.25;
  margin: 0.83em 0; }

h3 {
  font-size: 2.4rem;
  letter-spacing: -.1rem;
  line-height: 1.3;
  margin: 1em 0; }

h4 {
  font-size: 1.8rem;
  letter-spacing: -.08rem;
  line-height: 1.35;
  margin: 1.33em 0; }

h5 {
  font-size: 1.6rem;
  letter-spacing: -.05rem;
  line-height: 1.5;
  margin: 1.67em 0; }

h6 {
  font-size: 1.2rem;
  letter-spacing: 0;
  line-height: 1.4;
  margin: 2.33em 0; }

p {
  font-weight: 300;
  line-height: 1.6;
  margin-top: 0; }

blockquote {
  border-left: 0.2rem solid #9c9c9c;
  margin-left: 0;
  margin-right: 0;
  padding: 1rem 1.5rem; }
  blockquote small {
    font-style: italic; }
  blockquote *:last-child {
    margin: 0; }

pre {
  overflow: auto; }

code,
pre {
  font-family: monospace;
  font-size: 1em; }

.subtitle {
  color: #9c9c9c; }

.button {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  border: 0.2rem solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: transparent;
  border-color: #d5d5d5;
  color: #6f6f6f; }
  .button + .button {
    margin-left: 5px; }
  .button:focus, .button:active:focus {
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
  .button:hover, .button:focus {
    border-color: #a2a2a2;
    color: #6f6f6f;
    text-decoration: none; }
  .button:active {
    outline: 0; }
  .button.is-outlined {
    background: transparent !important;
    border-color: #bbbbbb;
    color: #222; }
    .button.is-outlined:hover, .button.is-outlined:focus {
      border-color: #6f6f6f;
      color: #222; }
    .button.is-outlined.is-loading:after {
      border-color: transparent transparent white white !important; }
  .button.is-dark {
    background: #222;
    border-color: transparent;
    color: white; }
    .button.is-dark:hover, .button.is-dark:focus {
      background: #090909;
      border-color: transparent;
      color: white; }
    .button.is-dark:active {
      border-color: transparent; }
    .button.is-dark.is-outlined {
      border-color: #222;
      color: #222; }
      .button.is-dark.is-outlined:hover, .button.is-dark.is-outlined:focus {
        border-color: #090909;
        color: #090909; }
    .button.is-dark.is-loading:after {
      border-color: transparent transparent white white !important; }
  .button.is-primary {
    background: #29A6E2;
    border-color: transparent;
    color: white; }
    .button.is-primary:hover, .button.is-primary:focus {
      background: #1a89be;
      border-color: transparent;
      color: white; }
    .button.is-primary:active {
      border-color: transparent; }
    .button.is-primary.is-outlined {
      border-color: #29A6E2;
      color: #29A6E2; }
      .button.is-primary.is-outlined:hover, .button.is-primary.is-outlined:focus {
        border-color: #1a89be;
        color: #1a89be; }
    .button.is-primary.is-loading:after {
      border-color: transparent transparent white white !important; }
  .button.is-success {
    background: #15CA8F;
    border-color: transparent;
    color: white; }
    .button.is-success:hover, .button.is-success:focus {
      background: #109c6e;
      border-color: transparent;
      color: white; }
    .button.is-success:active {
      border-color: transparent; }
    .button.is-success.is-outlined {
      border-color: #15CA8F;
      color: #15CA8F; }
      .button.is-success.is-outlined:hover, .button.is-success.is-outlined:focus {
        border-color: #109c6e;
        color: #109c6e; }
    .button.is-success.is-loading:after {
      border-color: transparent transparent white white !important; }
  .button.is-warning {
    background: #f0ad4e;
    border-color: transparent;
    color: white; }
    .button.is-warning:hover, .button.is-warning:focus {
      background: #ec971f;
      border-color: transparent;
      color: white; }
    .button.is-warning:active {
      border-color: transparent; }
    .button.is-warning.is-outlined {
      border-color: #f0ad4e;
      color: #f0ad4e; }
      .button.is-warning.is-outlined:hover, .button.is-warning.is-outlined:focus {
        border-color: #ec971f;
        color: #ec971f; }
    .button.is-warning.is-loading:after {
      border-color: transparent transparent white white !important; }
  .button.is-danger {
    background: #E02B5D;
    border-color: transparent;
    color: white; }
    .button.is-danger:hover, .button.is-danger:focus {
      background: #bc1c48;
      border-color: transparent;
      color: white; }
    .button.is-danger:active {
      border-color: transparent; }
    .button.is-danger.is-outlined {
      border-color: #E02B5D;
      color: #E02B5D; }
      .button.is-danger.is-outlined:hover, .button.is-danger.is-outlined:focus {
        border-color: #bc1c48;
        color: #bc1c48; }
    .button.is-danger.is-loading:after {
      border-color: transparent transparent white white !important; }
  .button.is-large {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 4px; }
  .button.is-small {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 2px; }
  .button.is-block {
    display: block;
    width: 100%; }
  .button.disabled, .button[disabled] {
    cursor: not-allowed;
    opacity: 0.5; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer; }

input[type="file"] {
  display: block; }

input[type="range"] {
  display: block;
  width: 100%; }

select[multiple],
select[size] {
  height: auto; }

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted;
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  min-height: 6.5rem;
  overflow: auto; }

fieldset {
  border-width: 0;
  padding: 0;
  margin: 0;
  min-width: 0; }

legend {
  border: 0;
  padding: 0;
  line-height: inherit;
  display: block;
  width: 100%; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  position: absolute;
  line-height: normal;
  margin: 0;
  margin-top: 4px \9;
  opacity: 1;
  left: 0;
  top: 3px; }

.input {
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  background-color: #fff;
  border: 0.2rem solid #ddd;
  border-radius: 0;
  box-shadow: none;
  box-sizing: border-box;
  height: 38px;
  padding: 6px 12px;
  width: 100%;
  height: 38px;
  font-size: 16px;
  line-height: 1.5;
  color: #5f5f5f;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; }
  .input:focus {
    border-color: #66afe9;
    outline: 0; }
  .input::-ms-expand {
    border: 0;
    background-color: transparent; }
  .input[disabled], .input[readonly] {
    background-color: #f3f3f3;
    opacity: 1;
    cursor: not-allowed; }

.select select {
  background: transparent;
  background: url('data:image/svg+xml;utf8,<svg xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" height="64" width="64" version="1" viewBox="0 0 64 64" xml:space="preserve"><path d="M12 21 32 42 52 21" style="fill:none;stroke-linecap:round;stroke-width:4;stroke:#5f5f5f"/></svg>') no-repeat right 0.75rem center/3rem 3rem; }

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 400;
  padding: 0 0.8rem;
  font-size: 90%;
  color: #5f5f5f; }

input[type="search"] {
  -webkit-appearance: none; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="date"].input,
  input[type="time"].input,
  input[type="month"].input {
    line-height: 38px; } }

.form-group {
  position: relative; }
  .form-group:not(:last-child),
  .form-group .col {
    margin-bottom: 15px !important; }
  .form-group .label + .input {
    padding-left: 135px; }
  .form-group .label {
    width: 130px;
    text-align: right;
    position: absolute;
    top: 2px;
    margin: 0;
    padding: 6px 12px;
    bottom: 2px;
    color: #9c9c9c;
    background: #fff;
    left: 2px; }
  .form-group .col {
    position: relative; }
    .form-group .col .label {
      margin-left: 1rem;
      width: 12rem-1rem; }

.radio,
.checkbox {
  min-height: 24px;
  padding-left: 2.5rem;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
  position: relative;
  margin: .5rem;
  line-height: 135%;
  display: block; }
  .radio:focus,
  .checkbox:focus {
    outline: 0; }
  .radio.inline,
  .checkbox.inline {
    display: inline-block; }
  .radio input:before,
  .checkbox input:before {
    transition: all 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
    content: "";
    position: absolute;
    top: 0.1rem;
    left: 0rem;
    z-index: 1;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%; }
  .radio input:after,
  .checkbox input:after {
    transition: all 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
    content: "";
    position: absolute;
    top: -0.3rem;
    left: -0.4rem;
    width: 2rem;
    height: 2rem;
    background: #fff;
    border: 0.2rem solid #ddd;
    border-radius: 2rem;
    cursor: pointer; }

.checkbox {
  padding-left: 3.5rem; }
  .checkbox input:before {
    background: #ddd; }
  .checkbox input:checked:before {
    background: #29A6E2;
    left: 1rem; }
  .checkbox input:after {
    width: 3rem; }

.radio input:before {
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0); }

.radio input:checked:before {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1); }

.has-success label,
.has-success.radio label,
.has-success.checkbox label {
  color: #15CA8F; }

.has-success .input {
  border-color: #15CA8F; }
  .has-success .input:focus {
    border-color: #29e9aa; }

.has-error label,
.has-error.radio label,
.has-error.checkbox label {
  color: #E02B5D; }

.has-error .input {
  border-color: #E02B5D; }
  .has-error .input:focus {
    border-color: #e7577f; }

.container {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 75em;
  padding: 0 1rem;
  position: relative;
  width: 100%; }

.row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0;
  width: 100%; }

.row-wrap {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.row-no-padding {
  padding: 0; }
  .row-no-padding > .col {
    padding: 0; }

.row-top {
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start; }

.row-bottom {
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end; }

.row-center {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.row-stretch {
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }

.row-baseline {
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline; }

[class^='col'],
[class*=' col'],
[class^='col-'],
[class*=' col-'] {
  display: block;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-left: 0;
  max-width: 100%;
  width: 100%; }

.col-top {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start; }

.col-bottom {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end; }

.col-center {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center; }

.reset {
  margin: 0;
  padding: 0; }

@media only screen and (min-width: 30em) {
  .col-2 {
    -webkit-flex: 0 0 16.6666666667%;
    -ms-flex: 0 0 16.6666666667%;
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%; }
  .col-3 {
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
  .col-4 {
    -webkit-flex: 0 0 33.3333333333%;
    -ms-flex: 0 0 33.3333333333%;
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%; }
  .col-5 {
    -webkit-flex: 0 0 41.6666666667%;
    -ms-flex: 0 0 41.6666666667%;
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%; }
  .col-6 {
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .col-7 {
    -webkit-flex: 0 0 58.3333333333%;
    -ms-flex: 0 0 58.3333333333%;
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%; }
  .col-8 {
    -webkit-flex: 0 0 66.6666666667%;
    -ms-flex: 0 0 66.6666666667%;
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%; }
  .col-9 {
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }
  .col-10 {
    -webkit-flex: 0 0 83.3333333333%;
    -ms-flex: 0 0 83.3333333333%;
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%; }
  .col-11 {
    -webkit-flex: 0 0 91.6666666667%;
    -ms-flex: 0 0 91.6666666667%;
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%; }
  .col-offset-10 {
    margin-left: 83.3333333333%; }
  .col-offset-9 {
    margin-left: 75%; }
  .col-offset-8 {
    margin-left: 66.6666666667%; }
  .col-offset-7 {
    margin-left: 58.3333333333%; }
  .col-offset-6 {
    margin-left: 50%; }
  .col-offset-5 {
    margin-left: 41.6666666667%; }
  .col-offset-4 {
    margin-left: 33.3333333333%; }
  .col-offset-3 {
    margin-left: 25%; }
  .col-offset-2 {
    margin-left: 16.6666666667%; }
  .col-offset-1 {
    margin-left: 8.3333333333%; }
  .col-offset-0 {
    margin-left: 0%; } }

@media only screen and (min-width: 48em) {
  .col-md-2 {
    -webkit-flex: 0 0 16.6666666667%;
    -ms-flex: 0 0 16.6666666667%;
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%; }
  .col-md-3 {
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
  .col-md-4 {
    -webkit-flex: 0 0 33.3333333333%;
    -ms-flex: 0 0 33.3333333333%;
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%; }
  .col-md-5 {
    -webkit-flex: 0 0 41.6666666667%;
    -ms-flex: 0 0 41.6666666667%;
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%; }
  .col-md-6 {
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .col-md-7 {
    -webkit-flex: 0 0 58.3333333333%;
    -ms-flex: 0 0 58.3333333333%;
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%; }
  .col-md-8 {
    -webkit-flex: 0 0 66.6666666667%;
    -ms-flex: 0 0 66.6666666667%;
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%; }
  .col-md-9 {
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }
  .col-md-10 {
    -webkit-flex: 0 0 83.3333333333%;
    -ms-flex: 0 0 83.3333333333%;
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%; }
  .col-md-11 {
    -webkit-flex: 0 0 91.6666666667%;
    -ms-flex: 0 0 91.6666666667%;
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%; }
  .col-md-offset-10 {
    margin-left: 83.3333333333%; }
  .col-md-offset-9 {
    margin-left: 75%; }
  .col-md-offset-8 {
    margin-left: 66.6666666667%; }
  .col-md-offset-7 {
    margin-left: 58.3333333333%; }
  .col-md-offset-6 {
    margin-left: 50%; }
  .col-md-offset-5 {
    margin-left: 41.6666666667%; }
  .col-md-offset-4 {
    margin-left: 33.3333333333%; }
  .col-md-offset-3 {
    margin-left: 25%; }
  .col-md-offset-2 {
    margin-left: 16.6666666667%; }
  .col-md-offset-1 {
    margin-left: 8.3333333333%; }
  .col-md-offset-0 {
    margin-left: 0%; } }

@media only screen and (min-width: 30em) {
  .row {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-left: -1.0rem;
    width: calc(100% + 2.0rem); }
  [class^='col'],
  [class*=' col'],
  [class^='col-'],
  [class*=' col-'] {
    margin-bottom: inherit;
    padding: 0 1.0rem; } }

.table {
  background: white;
  color: #222;
  margin-bottom: 20px;
  width: 100%; }
  .table th,
  .table td {
    border: 1px solid #ddd;
    border-width: 0 0 1px;
    padding: 8px 10px;
    vertical-align: top; }
    .table th.table-link,
    .table td.table-link {
      padding: 0; }
      .table th.table-link > a,
      .table td.table-link > a {
        display: block;
        padding: 8px 10px; }
        .table th.table-link > a:hover,
        .table td.table-link > a:hover {
          color: #29A6E2; }
  .table th {
    color: #222;
    text-align: left; }
  .table tr:hover {
    background: rgba(243, 243, 243, 0.3);
    color: #5f5f5f; }
  .table tr:last-child td {
    border-bottom-width: 0; }
  .table thead th,
  .table thead td {
    border-width: 0 0 2px;
    color: #9c9c9c; }
  .table tfoot th,
  .table tfoot td {
    border-width: 2px 0 0;
    color: #9c9c9c; }
  .table.is-striped tbody tr:nth-child(2n) {
    background: rgba(243, 243, 243, 0.5); }
    .table.is-striped tbody tr:nth-child(2n):hover {
      background: #f3f3f3; }

.table-responsive {
  overflow-x: auto;
  min-height: 0.01%; }
  @media screen and (max-width: 47em) {
    .table-responsive {
      width: 100%;
      margin-bottom: 18px;
      overflow-y: hidden;
      -ms-overflow-style: -ms-autohiding-scrollbar;
      border: 1px solid #ddd; }
      .table-responsive > .table {
        margin-bottom: 0; }
        .table-responsive > .table > thead > tr > th,
        .table-responsive > .table > thead > tr > td,
        .table-responsive > .table > tbody > tr > th,
        .table-responsive > .table > tbody > tr > td,
        .table-responsive > .table > tfoot > tr > th,
        .table-responsive > .table > tfoot > tr > td {
          white-space: nowrap; } }

.alert {
  padding: 1.6rem 2rem;
  font-size: 1.4rem;
  line-height: 1.5;
  border-radius: 3px;
  font-weight: normal;
  margin-bottom: 2rem;
  color: #5f5f5f;
  background-color: #f6f6f6; }
  .alert .title {
    font-size: 2rem; }

.badge {
  display: inline-block;
  padding: 0.4rem 1rem;
  background: #f3f3f3;
  color: #5f5f5f;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.4rem;
  border-radius: 0.2rem;
  text-align: center;
  vertical-align: middle; }
  .badge + .badge {
    margin-left: 5px; }

.alert.is-dark,
.badge.is-dark {
  color: white;
  background-color: #222; }

.alert.is-primary,
.badge.is-primary {
  color: white;
  background-color: #29A6E2; }

.alert.is-success,
.badge.is-success {
  color: white;
  background-color: #15CA8F; }

.alert.is-warning,
.badge.is-warning {
  color: white;
  background-color: #f0ad4e; }

.alert.is-danger,
.badge.is-danger {
  color: white;
  background-color: #E02B5D; }

.media-image.is-32 {
  width: 32px; }

.media-image.is-40 {
  width: 40px; }

@media only screen and (max-width: 30em) {
  .media-image {
    margin-bottom: 10px; } }

@media only screen and (min-width: 30em) {
  .media-image {
    margin-right: 10px;
    width: 60px; } }

.media-number {
  background: #fff;
  border-radius: 290486px;
  display: inline-block;
  font-size: 16px;
  height: 32px;
  line-height: 24px;
  min-width: 32px;
  padding: 4px 8px;
  text-align: center;
  vertical-align: top; }
  @media only screen and (max-width: 30em) {
    .media-number {
      margin-bottom: 10px; } }
  @media only screen and (min-width: 30em) {
    .media-number {
      margin-right: 10px; } }

@media only screen and (max-width: 30em) {
  .media-left {
    margin-bottom: 20px; } }

@media only screen and (min-width: 30em) {
  .media-left {
    margin-right: 20px; } }

@media only screen and (max-width: 30em) {
  .media-right {
    margin-top: 20px; } }

@media only screen and (min-width: 30em) {
  .media-right {
    margin-left: 20px; } }

.media-content {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: left; }
  .media-content .textarea {
    min-height: 60px; }
  .media-content .title {
    font-size: 1.6rem;
    margin: 0;
    display: inline-block;
    letter-spacing: 0;
    font-weight: 600; }
    .media-content .title + small {
      margin-left: 5px; }

.media {
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: left; }
  .media .content:not(:last-child) {
    margin-bottom: 10px; }
  .media .media {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 10px; }
    .media .media .media-image {
      margin-bottom: 0;
      margin-right: 10px;
      width: 40px; }
    .media .media .content:not(:last-child) {
      margin-bottom: 5px; }
    .media .media .media {
      font-size: 12px;
      padding-top: 5px; }
      .media .media .media + .media {
        margin-top: 5px; }
  .media + .media {
    border-top: 1px solid rgba(156, 156, 156, 0.2);
    margin-top: 10px;
    padding-top: 10px; }
  .media.is-large + .media {
    margin-top: 20px;
    padding-top: 20px; }
  @media only screen and (min-width: 30em) {
    .media {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      .media.is-large .media-number {
        margin-right: 20px; } }

.card-image {
  display: block;
  position: relative; }
  .card-image img {
    display: block; }
  .card-image.is-square img, .card-image.is-4x3 img, .card-image.is-3x2 img {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%; }
  .card-image.is-square {
    padding-top: 100%; }
  .card-image.is-4x3 {
    padding-top: 75%; }
  .card-image.is-3x2 {
    padding-top: 66.6666%; }

.card-content {
  padding: 10px; }
  .card-content .title {
    margin-top: 0;
    margin-bottom: 2rem; }
  .card-content .title + .subtitle {
    margin-top: -20px;
    margin-bottom: 0; }

.card-footer {
  background: #fff;
  display: block;
  padding: 10px; }

.card {
  background: white;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  position: relative;
  width: 300px; }
  .card .media:not(:last-child) {
    margin-bottom: 10px; }
  .card small {
    display: block; }
  .card.is-rounded {
    border-radius: 5px; }

.nav ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  margin: 0; }
  .nav ul:before, .nav ul:after {
    content: " ";
    display: table; }
  .nav ul:after {
    clear: both; }
  .nav ul > li {
    position: relative;
    display: block; }
    .nav ul > li > a {
      position: relative;
      display: block;
      color: #5f5f5f;
      padding: 1rem 1.6rem; }
      .nav ul > li > a:hover {
        color: #29A6E2; }

.nav.is-inline ul > li {
  display: inline-block; }

.tabs {
  line-height: 24px;
  overflow: hidden;
  overflow-x: auto;
  white-space: nowrap; }
  .tabs ul {
    margin: 0; }
  .tabs a {
    border-bottom: 1px solid transparent;
    color: #5f5f5f;
    display: block;
    margin-bottom: -1px;
    padding: 0.6rem 1.2rem;
    vertical-align: top; }
    .tabs a:hover {
      border-bottom-color: #29A6E2;
      color: #29A6E2; }
  .tabs li {
    display: block;
    vertical-align: top; }
    .tabs li.is-active a {
      border-bottom-color: #29A6E2;
      color: #29A6E2; }
  .tabs ul {
    border-bottom: 1px solid #f3f3f3;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .tabs.is-centered a {
    padding: 0.6rem 1.2rem; }
  .tabs.is-centered ul {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center; }
  .tabs.is-centered li + li {
    margin-left: 0; }
  .tabs.is-boxed a {
    border: 1px solid transparent;
    border-radius: 3px 3px 0 0;
    padding: 0.6rem 1.2rem; }
    .tabs.is-boxed a:hover {
      background: #9c9c9c;
      border-bottom-color: #9c9c9c; }
  .tabs.is-boxed li.is-active a {
    background: #fff;
    border-color: #9c9c9c;
    border-bottom-color: transparent; }
  .tabs.is-boxed.is-centered li {
    margin: 0 2px; }
  .tabs.is-toggle a {
    border: 1px solid #9c9c9c;
    margin-bottom: 0;
    padding: 0.6rem 1.2rem;
    position: relative; }
    .tabs.is-toggle a:hover {
      background: #29A6E2;
      border-color: #29A6E2;
      z-index: 2; }
  .tabs.is-toggle li + li {
    margin-left: -1px; }
  .tabs.is-toggle li:first-child a {
    border-radius: 3px 0 0 3px; }
  .tabs.is-toggle li:last-child a {
    border-radius: 0 3px 3px 0; }
  .tabs.is-toggle li.is-active a {
    background: #9c9c9c;
    border-color: #9c9c9c;
    color: #fff;
    z-index: 1; }
  .tabs.is-toggle ul {
    border-bottom: none; }
  .tabs:not(:last-child) {
    margin-bottom: 20px; }
  .tabs.is-right ul {
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end; }

@media only screen and (min-width: 30em) {
  .tabs.is-fullwidth li {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1; }
    .tabs.is-fullwidth li + li {
      margin-left: 0; }
  .tabs.is-fullwidth ul {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center; } }

.tab {
  padding: 1.5rem;
  margin: -2rem 0 2rem;
  display: none; }
  .tab.is-active {
    display: block; }

.panel {
  background: #fff;
  padding: 0;
  border: 1px solid #f3f3f3;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px; }
  .panel header {
    background: #f3f3f3;
    padding: 1.5rem 2rem;
    font-weight: 400; }
  .panel-content {
    padding: 1.5rem 2rem; }
    .panel-content.no-padding {
      padding: 0; }
  .panel.is-dark {
    border: 1px solid #222;
    color: #222; }
    .panel.is-dark header {
      background: #222;
      color: white; }
    .panel.is-dark a {
      color: #222;
      font-weight: 400;
      text-decoration: underline; }
  .panel.is-primary {
    border: 1px solid #29A6E2;
    color: #29A6E2; }
    .panel.is-primary header {
      background: #29A6E2;
      color: white; }
    .panel.is-primary a {
      color: #29A6E2;
      font-weight: 400;
      text-decoration: underline; }
  .panel.is-success {
    border: 1px solid #15CA8F;
    color: #15CA8F; }
    .panel.is-success header {
      background: #15CA8F;
      color: white; }
    .panel.is-success a {
      color: #15CA8F;
      font-weight: 400;
      text-decoration: underline; }
  .panel.is-warning {
    border: 1px solid #f0ad4e;
    color: #f0ad4e; }
    .panel.is-warning header {
      background: #f0ad4e;
      color: white; }
    .panel.is-warning a {
      color: #f0ad4e;
      font-weight: 400;
      text-decoration: underline; }
  .panel.is-danger {
    border: 1px solid #E02B5D;
    color: #E02B5D; }
    .panel.is-danger header {
      background: #E02B5D;
      color: white; }
    .panel.is-danger a {
      color: #E02B5D;
      font-weight: 400;
      text-decoration: underline; }

.panels .panel header {
  padding: 0; }
  .panels .panel header a {
    padding: 1.5rem 2rem;
    display: block; }

.panels .panel-content {
  height: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0 2rem;
  transition: 0.1s all linear; }
  .panels .panel-content.is-expanded {
    height: 100%;
    opacity: 1;
    padding: 1.5rem 2rem;
    overflow: visible;
    transition: 0.1s all linear; }

.side-panel {
  background-color: #222;
  position: fixed;
  height: 100vh;
  width: 18em;
  z-index: 999;
  display: none; }
  .side-panel .nav {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    transition: -webkit-transform .3s;
    transition: transform .3s;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    padding: 5rem 0.5rem 0;
    text-align: left;
    margin: 0; }
    .side-panel .nav li {
      list-style-type: none; }
      .side-panel .nav li a {
        color: #f3f3f3;
        display: block;
        padding: 1rem 1.8rem;
        text-decoration: none;
        transition: all 0.2s; }
  @media only screen and (min-width: 48em) {
    .side-panel {
      display: inline-block; } }

.nav-trigger {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 50px;
  overflow: hidden;
  white-space: nowrap;
  color: transparent; }
  .nav-trigger span {
    position: absolute;
    height: 2px;
    width: 20px;
    top: 50%;
    margin-top: -1px;
    left: 50%;
    margin-left: -10px;
    transition: background-color 0.3s 0.3s; }
    .nav-trigger span::before, .nav-trigger span::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      will-change: transform;
      transition: -webkit-transform 0.3s 0.3s;
      transition: transform 0.3s 0.3s; }
    .nav-trigger span::before {
      -webkit-transform: translateY(-6px);
      transform: translateY(-6px); }
    .nav-trigger span::after {
      -webkit-transform: translateY(6px);
      transform: translateY(6px); }
  @media only screen and (min-width: 62em) {
    .nav-trigger {
      display: none; } }

.nav-is-visible .nav-trigger span::before {
  -webkit-transform: translateY(0) rotate(-45deg);
  transform: translateY(0) rotate(-45deg); }

.nav-is-visible .nav-trigger span::after {
  -webkit-transform: translateY(0) rotate(45deg);
  transform: translateY(0) rotate(45deg); }

.nav-is-visible .main-nav {
  -webkit-transform: translateY(0);
  transform: translateY(0); }

.dropdown {
  position: relative; }
  .dropdown ul {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 4;
    display: none;
    float: left;
    min-width: 160px;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #eee;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); }
    .dropdown ul > li {
      position: relative;
      display: block; }
      .dropdown ul > li > a {
        position: relative;
        display: block;
        color: #5f5f5f;
        padding: 1rem 1.6rem; }
        .dropdown ul > li > a:hover {
          color: #222;
          background: #f3f3f3; }
  .dropdown.is-open ul {
    display: block; }

.has-item .title,
.has-item .subtitle {
  margin-bottom: 0; }

.has-item.nav, .has-item .nav {
  display: inline-block; }
  .has-item.nav ul, .has-item .nav ul {
    margin: 0; }
    .has-item.nav ul li, .has-item .nav ul li {
      display: inline-block; }

@media only screen and (max-width: 30em) {
  .has-item:not(:last-child) {
    margin-bottom: 10px; } }

.navbar {
  padding: 0.5rem 2rem;
  position: relative; }
  .navbar:not(:last-child) {
    margin-bottom: 20px; }
  .navbar img {
    display: inline-block;
    vertical-align: top; }
  .navbar .is-toggle {
    display: none; }
  @media only screen and (min-width: 30em) {
    .navbar {
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .navbar > .has-item:not(.is-narrow) {
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1; } }

@media only screen and (max-width: 30em) {
  .is-toggle span {
    background: #222; }
  .is-toggle.is-active span {
    background: #222; }
  .navbar .has-item {
    border-top-color: rgba(34, 34, 34, 0.2); } }

.navbar-left .has-item.is-flexible,
.navbar-right .has-item.is-flexible {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.navbar-left .has-item:not(:last-child),
.navbar-right .has-item:not(:last-child) {
  margin-right: 10px; }

@media only screen and (max-width: 30em) {
  .navbar-left + .navbar-right {
    margin-top: 20px; } }

@media only screen and (min-width: 30em) {
  .navbar-left {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }

@media only screen and (min-width: 30em) {
  .navbar-right {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end; } }

/* VARIABLES */
/* RESPONSIVE */
@media only screen and (max-width: 768px) {
  .navbar,
  body {
    height: 100%; }
  .site-container {
    overflow: hidden; }
  .site-pusher {
    transition-duration: 0.3s;
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  .site-content {
    position: absolute;
    top: 66px;
    right: 0;
    left: 0;
    bottom: 0;
    padding-top: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch; }
  .navbar .is-toggle {
    display: inline-block;
    width: 3rem;
    height: auto;
    float: left;
    margin-right: 1.2rem; }
    .navbar .is-toggle span {
      background: #222;
      height: 0.3rem;
      display: block;
      margin: 4px 0;
      border-radius: 8px; }
    .navbar .is-toggle.is-active span {
      background: #222; }
  .navbar .can-collapse {
    display: none; }
    .navbar .can-collapse .nav li {
      display: block;
      text-align: center; }
  .navbar.is-open .can-collapse {
    display: block; }
    .navbar.is-open .can-collapse nav {
      display: block; }
  .navbar.is-pushy .can-collapse {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    /* overflow-y: scroll;
    -webkit-overflow-scrolling: touch;*/
    width: 250px;
    -webkit-transform: translateX(-250px);
    transform: translateX(-250px); }
    .navbar.is-pushy .can-collapse a {
      display: block;
      height: 40px;
      text-align: center;
      line-height: 40px;
      border-bottom: 1px solid #3f51b5; }
  .menu-is-open .navbar {
    -webkit-transform: translateX(250px);
    transform: translateX(250px); }
  .menu-is-open .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6); } }

.hero.is-video {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  overflow: hidden; }
  .hero.is-video.is-transparent {
    opacity: 0.3; }
  .hero.is-video video {
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0); }

.hero-content {
  padding: 40px 20px; }
  @media only screen and (min-width: 48em) {
    .hero-content {
      padding: 40px 0; } }

.has-buttons {
  margin-top: 20px; }
  @media only screen and (max-width: 30em) {
    .has-buttons .button {
      display: block; }
      .has-buttons .button:not(:last-child) {
        margin-bottom: 10px; } }
  @media only screen and (min-width: 30em) {
    .has-buttons {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .has-buttons .button:not(:last-child) {
        margin-right: 20px; } }

.hero {
  background: #fff;
  text-align: center; }
  .hero .navbar {
    background: none; }
  .hero .tabs a, .hero .tabs ul {
    border: none; }
  .hero.is-light {
    background: #f3f3f3;
    color: #5f5f5f; }
    .hero.is-light a {
      color: #5f5f5f !important; }
  .hero.is-default {
    background: #222;
    color: white; }
    .hero.is-default a {
      color: white !important; }
    .hero.is-default .subtitle {
      color: white; }
  .hero.is-dark {
    background: #222;
    color: white; }
    .hero.is-dark a {
      color: white !important; }
    .hero.is-dark .subtitle {
      color: white; }
  .hero.is-primary {
    background: #29A6E2;
    color: white; }
    .hero.is-primary a {
      color: white !important; }
    .hero.is-primary .subtitle {
      color: white; }
  .hero.is-success {
    background: #15CA8F;
    color: white; }
    .hero.is-success a {
      color: white !important; }
    .hero.is-success .subtitle {
      color: white; }
  .hero.is-warning {
    background: #f0ad4e;
    color: white; }
    .hero.is-warning a {
      color: white !important; }
    .hero.is-warning .subtitle {
      color: white; }
  .hero.is-danger {
    background: #E02B5D;
    color: white; }
    .hero.is-danger a {
      color: white !important; }
    .hero.is-danger .subtitle {
      color: white; }
  .hero.is-fullheight {
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-height: 100vh; }
    .hero.is-fullheight .hero-content {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; }

/* General styles for the modal */
.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  transition: all 0.3s; }
  .modal.has-backdrop {
    background: rgba(0, 0, 0, 0.8); }
  .modal .modal-box {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    max-width: 630px;
    min-width: 320px;
    height: auto;
    z-index: 2000;
    visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); }
    .modal .modal-box .has-content {
      -webkit-transform: scale(0.7);
      transform: scale(0.7);
      opacity: 0;
      transition: all 0.3s;
      position: relative;
      border-radius: 3px;
      margin: 0 auto;
      padding: 15px 40px 30px;
      background: #fff; }
      .modal .modal-box .has-content .title {
        margin: 0;
        padding: 0.4em;
        text-align: center;
        font-size: 2.4em;
        font-weight: 300;
        opacity: 0.8;
        border-radius: 3px 3px 0 0; }
      .modal .modal-box .has-content .button {
        display: block;
        margin: 0 auto; }
  .modal.is-visible.has-backdrop {
    opacity: 1;
    visibility: visible; }
  .modal.is-visible .modal-box {
    visibility: visible; }
    .modal.is-visible .modal-box .has-content {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1; }

@media screen and (max-width: 30em) {
  .modal .has-content {
    font-size: 85%; } }

/*# sourceMappingURL=averil.css.map */
