@import "partials/variables";
@import 'partials/mixins';

$success: $color-success; // green
$alert: $color-danger;  // red

// fonts
$primary-font: 'Merriweather', serif;
$secondary-font: 'Open Sans', sans-serif;

.ui-nav {
	width: 100%;
	top: 0;
	left: 0;
	background:$color-primary;
	z-index:11;
	.has-item.is-brand {
		flex: 0 0 200px;
	}
	.navbar {
	    padding: 0rem 2rem;
	}
	a {
	    padding: 1.4rem 2rem;
	    margin-bottom: 0px;
	}
	.container {
	    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	}
}

main.container {
    width: 90%;
}

/* --- xPatterns --- */
pre.box {
    background: #fafafa;
    border-left: 1px solid #eee;
    padding: 15px;
    code{
    	font-size:90%;
    }
}
div.box.block {
    //border: 1px solid #E4D523;
    padding: 15px!important;
    //border-width: 4px 1px 1px;
}
.typo{
	display:inline-block;
	margin-top:0;
}
.inline-el{
    a,
    em,
    small,
    strong,
    u{
    	display:inline-block;
    	margin:2rem 4rem 4rem 0;
    }
    blockquote{
    	small{
    		margin: 0;
    	}
    }
}

/* --- xTypography --- */
h2.box-title {
	font-family: $secondary-font;
	color: #aaa;
	font-weight: 200;
	text-transform: uppercase;
}


/* --- xGrid --- */
.show-grid{
	
	div[class^=col-],
	div[class^=col] {
	    padding-top: 10px;
	    padding-bottom: 10px;
		background-color: #E2E2E2;
		border: 1px solid #fff;
		border-radius: 3px;
		text-align:center;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
.show-grid .row div[class^=col]:nth-child(odd){
	background: $gray-lighter;
}
.show-grid div[class^=col-],.show-grid .row div[class^=col]:first-child {
    background: $color-success;
    color:#fff;
}
/* --- xButtons --- */
.box-buttons pre span {
	/* CSS class name color */ 
	color: $color-primary;
}
pre, code{
	font-size:1.4rem;
}
.on-sidelines{
	.box.block{
		padding: 1em 1em 1em 0;
	}
}
.box.block {
    padding: 1em 0 0;
    margin-bottom:0;
}

@import 'partials/basic-style';