.has-item{
  .title,
  .subtitle{
    margin-bottom: 0;
  }
  &.nav,.nav{
    display: inline-block;
    ul{
      margin:0;
      li{
        display: inline-block;
      }
    }
  }
  @include MQ(phone) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  &.has-two{
    flex:2;
  }  
  &.has-three{
    flex:3;
  }

}

.navbar{
  padding:rem(5) rem(20);
  position:relative;
  &:not(:last-child){
    margin-bottom: 20px;
  }  
  img{
    display: inline-block;
    vertical-align: top;
  }
  .is-toggle{
    display:none;
  }
  @include MQ(tablet) {
    align-items: center;
    display: flex;
    justify-content: space-between;
    & > .has-item{
      &:not(.is-narrow){
        flex: 1;
      }
      &.has-two{
        flex:2!important;
      }  
      &.has-three{
        flex:3;
      }
    }
  }
}



@include MQ(phone){
  .is-toggle{
    span{
      background: $color-default;
    }
    &.is-active{
      span{
        background: $color-default;
      }
    }
  }
  .navbar{
    .has-item{
      border-top-color: rgba($color-default, 0.2);
    }
  }
}


.navbar-left,
.navbar-right{
  .has-item{
    &.is-flexible{
      flex: 1;
    }    
    &:not(:last-child){
      margin-right: 10px;
    }
  }
}

.navbar-left{
  @include MQ(phone) {
    & + .navbar-right{
      margin-top: 20px;
    }  
  }
  @include MQ(tablet) {
    align-items: center;
    display: flex;
  }
}

.navbar-right{
  @include MQ(tablet) {
    align-items: center;
    display: flex;
    justify-content: flex-end;
  }
}
/* VARIABLES */
$header-bg: #3f51b5;
$menu-width: 250px!default;

/* RESPONSIVE */
@media only screen and (max-width: 768px) {
  .navbar,
  body {
    height: 100%;
  }
  
  .site-container {
    overflow: hidden;
  }
  
  .site-pusher {
    @include transition-duration(0.3s);
    @include transform(translateX(0px));
  }
  
  .site-content {
    position: absolute;
    top: 66px;
    right: 0;
    left: 0;
    bottom: 0;
    padding-top: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
  
  .navbar .is-toggle{
    display: inline-block;
    width: 3rem;
    height: auto;
    float: left;
    margin-right: 1.2rem;
    span{
      background: $color-default;
      height:rem(3);
      display:block;
      margin: 4px 0;
      border-radius: 8px;

    }
    &.is-active{
      span{
        background: $color-default;
      }
    }
  }

 .navbar .can-collapse {
    display: none;
    .nav li {
      display:block;
      text-align:center;
    }
  }

  .navbar.is-open .can-collapse {
    display: block;
    nav{
      display:block;
    }
  }
  .navbar.is-pushy .can-collapse {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    //background-color: darken($header-bg, 5);
    /* overflow-y: scroll;
    -webkit-overflow-scrolling: touch;*/
    
    width: $menu-width;
    
    @include transform(translateX($menu-width * -1));
    a {
      display: block;
      height: 40px;
      
      text-align: center;
      line-height: 40px;
      
      border-bottom: 1px solid $header-bg;
    }
  }
  
  .menu-is-open {
    .navbar {
      @include transform(translateX($menu-width));
    }
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0,0,0,0.6);
    }
  }
}